* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/loginig.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat Medium 500';
}

.login-card-container {
    margin-top: 1.5rem;
}

.login-card {
    width: 450px;
    background: rgba(243, 237, 237, 0.399);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-card:before {
    content: '';
    position: absolute;
    background: rgba(249, 245, 245, 0.129);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.login-card-logo {
    margin-bottom: 2rem;
}

.login-card-logo img {
    width: 60px;
}


.login-card-logo,
.logo-card-header,
.login-card-footer {
    text-align: center;
}

.login-card a {
    text-decoration: none;
    color: #35339a;
}

.login-card a:hover {
    text-decoration: underline;
}

.logo-card-header {
    margin: 3rem 0;
}

.logo-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.logo-card-header h1+div {
    font-size: calc(1rem*.8);
    opacity: .8;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-items {
    position: relative;
}

.login-card-form .form-items i {
    position: absolute;
    top: 1.2rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.form-item-other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    font-size: calc(1rem*.8);
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem*.8);
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem*3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-card input:focus {
    background: #fff;
}

.login-card input[type="checkbox"] {
    accent-color: black;
}

input[type="checkbox"] {
    all: revert;
}

#buy {
    background-color: rgb(23, 3, 3);
    border: 2px solid;
    border-radius: 30px;
    color: #dae4d3;
    padding: 0.6em 2em;
    font-size: 1em;
    text-align: center;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s, background-color 0.25s;

}

#buy:hover {
    border-color: rgb(214, 123, 11);
    color: rgb(188, 203, 18);
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.login-card-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
}

.login-card-social>div {
    font-size: 20px;
    font-weight: 700;
}

.login-card-social-btn a {
    color: rgb(63, 57, 57);
    transition: all 0.4s;
}

.login-card-social-btn a:hover {
    color: rgb(35, 43, 118);
}

@media(max-width:768px) {
    body {
        padding: 2rem 0;
        background-position: right;
    }

    .login-card {
        width: 300px;
        padding: 2rem;
    }
}